<div class="row justify-content-center">
  <div class="col col-8">
    <h1>Editar variedad</h1>
    <%= form_for(@variety) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
      <%= f.submit "Actualizar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>