<h1>Pedido para <%= @order.place_name %></h1>
<h3>
  Invita a tus compañeros: <%= @order.slug %>
  <button title='Copiar' id = "linkOfer" class="btn btn-secondary btn-sm"><i class="far fa-copy"></i> Copiar link</button>
</h3>
<div id="alert_linkOfer"></div>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>