<div class="row justify-content-center">
  <div class="col col-8">
      <h1><%= I18n.t('tittle.add_variety') %></h1>
    <%= form_for([:admin_place, @variety]) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
      <%= f.submit I18n.t('button.add_variety'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
