<h1>Lugar</h1>
<ul class="list-group">
  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Nombre:</h5>
    </div>
    <p class="mb-1"><%= @place.name %></p>
  </li>
  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Telefono:</h5>
    </div>
    <p class="mb-1"><%= @place.phone %></p>
  </li>
  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Direccion:</h5>
    </div>
    <p class="mb-1"><%= @place.address %></p>
  </li>
  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Variedades:</h5>
    </div>
    <ul>
      <% @place.varieties.each do |variety| %>
        <li><%= variety.name %></li>
      <% end %>
    </ul>
  </li>
</ul>